<div class='container'>
    <div class='row'>
        <div class="six columns">
            <div id='Burger-menu'>
                <ul>
                    {{#each burger}}
                    {{#unless eaten}}

                    <li>
                        <p>

                            {{this.id}}. {{this.burger_name}}

                            <button burger-id="{{this.id}}" class="devour-burger">Devour-it!</button>
                        </p>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="six columns">
            <div id='Burger-bin'>
                <ul>
                    {{#each burger}}
                    {{#if eaten}}
                    <li>
                        <p>

                            {{this.id}}. {{this.burger_name}}

                            <button burger-id="{{this.id}}" class="devour-burger">Devour-it!</button>
                        </p>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class='row'>

    </div>
</div>